<?xml version = "1.0"?>
<entity>
    <image>
        <name>blue-marlin</name>
        <alpha>1</alpha>
        <scale>1</scale>
        <x>0</x>
        <y>10</y>
        <finalX>400</finalX>
        <finalY>10</finalY>
        <duration>1000</duration>
        <finalAlpha>1</finalAlpha>
        <ellipse>
            <opacity>1</opacity>
            <color>white</color>
            <radius>10</radius>
            <x>0</x>
            <y>10</y>
        </ellipse>
        <ellipse>
            <opacity>1</opacity>
            <color>white</color>
            <radius>10</radius>
            <x>30</x>
            <y>10</y>
        </ellipse>
    </image>
    <image>
        <name>sword-fish</name>
        <alpha>1</alpha>
        <scale>1</scale>
        <x>90</x>
        <y>10</y>
        <finalX>400</finalX>
        <finalY>130</finalY>
        <duration>1000</duration>
        <finalAlpha>1</finalAlpha>
        <ellipse>
            <opacity>1</opacity>
            <color>white</color>
            <radius>107</radius>
            <x>100</x>
            <y>100</y>
        </ellipse>
        <ellipse>
            <opacity>1</opacity>
            <color>white</color>
            <radius>107</radius>
            <x>200</x>
            <y>100</y>
        </ellipse>
    </image>
</entity>